<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Väckningssystemet</title>
    <%= stylesheet_link_tag :application %>
    <script type="text/javascript" src="http://use.typekit.com/uik3cti.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <div id="container">
      <div id="person-step" class="box narrow hidden">
        <div class="inner">
          <p><span class="big">Hi there!</span> Enter your nick to order wakeup calls and/ or tell us where you are sleeping.</p>
            <form id="person-form" action="/api/persons/fetch">
              <p class="person-field"><input type="text" name="q" /></p>
              <p class="button-row"><input type="submit" value="Continue" /></p>
            </form>
          </div>
        </div>
        <div id="place-step" class="box normal hidden">
          <div class="inner">
            <span class="actions" style="float:right"><button id="place-cancel">Abort, abort!</button></span>
            <p>Please choose where <span id="place-nickname"></span> is sleeping.</p>
            <form id="place-form" action="">
              <div id="place-sections" class="hidden">
                <h2>Room</h2>
                <p class="choices"></p>
              </div>
              <div id="place-rows" class="hidden">
                <h2>Row</h2>
                <p class="choices numbers"></p>
              </div>
              <div id="place-places" class="hidden">
                <h2>Place</h2>
                <p class="choices numbers"></p>
              </div>
              <p id="place-buttons" class="button-row hidden">
                <input id="place-book-and-quit" type="submit" value="Submit and quit" />
                <input id="place-book-and-continue" type="submit" value="Submit and book wakeup call" />
              </p>
            </form>
          </div>
        </div>
        <div id="alarm-step" class="box narrow hidden">
          <div class="inner">
            <p>Here you book wakeup calls for your place <span id="alarm-place">A3-2</span>.</p>
            <div id="alarm-existing" class="hidden">
              <p>
                <span class="time">10:30</span>
                <span class="remaining">8h 56m</span>
                <a href="#" class="remove">Remove</a>
              </p>
              <p>
                <span class="time">10:30</span>
                <span class="remaining">8h 56m</span>
                <a href="#" class="remove">Remove</a>
              </p>
            </div>
            <form id="alarm-form" action="/api/alarms">
              <p id="alarm-hours">
                <select name="hour">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                </select>:<select name="minute">
                  <option value="00">00</option>
                  <option value="30">30</option>
                </select>
                <span id="alarm-remaining" class="remaining">6h 56m</span>
              </p>
              <p class="button-row">
                <input type="button" id="alarm-change-place" value="Change place" />
                <span class="continue-buttons">
                  <input type="button" id="alarm-cancel" value="Cancel">
                  <input id="alarm-set" type="submit" value="Book" />
                </span>
              </p>
            </form>
          </div>
        </div>
    <div id="confirm-place-step" class="hidden">
      <div class="message">
        <p>You are now sleeping at place <span id="confirm-place-place"></span>!</p>
      </div>
    </div>
    <div id="confirm-alarm-step" class="hidden">
      <div class="message">
        <p>We will wake you at <span id="confirm-alarm-time"></span> at your place <span id="confirm-alarm-place"></span>.</p>
        <p class="big">Sleep tight! :)</p>
      </div>
    </div>
    </div>
    <div id="night-table"></div>
    <div id="table-stuff">
      <div class="inner">
        <div id="lamp"></div>
        <div id="picture-frame" class="hidden">
          <img id="picture-frame-image" width="80" height="80" />
        </div>
      </div>
    </div>
  <div id="light"></div>
    <%= javascript_include_tag :application %>
    <script type="text/javascript">
      var lampController = new LampController($("lamp"), $("light"))
      var pictureFrameController = new PictureFrameController($("picture-frame"), $("picture-frame-image"))
      var personController = new PersonController($("person-step"), $("person-form"))
      var placeController = new PlaceController($("place-step"), $("place-nickname"), $("place-form"), $("place-sections"), $("place-rows"), $("place-places"), $("place-buttons"), $("place-book-and-quit"), $("place-book-and-continue"), $("place-cancel"))
      var alarmController = new AlarmController($("alarm-step"), $("alarm-place"), $("alarm-form"), $("alarm-existing"), $("alarm-remaining"), $("alarm-change-place"), $("alarm-cancel"), $("alarm-set"))
      var confirmPlaceController = new ConfirmPlaceController($("confirm-place-step"), $("confirm-place-place"))
      var confirmAlarmController = new ConfirmAlarmController($("confirm-alarm-step"), $("confirm-alarm-place"), $("confirm-alarm-time"))
      new ApplicationController(lampController, pictureFrameController, personController, placeController, alarmController, confirmPlaceController, confirmAlarmController)
    </script>
  </body>
</html>
