html, body {
	height: 100%;
}

body {
	background: url("graphics/background-tile.png") center top;
	margin: 0;
	font-family: "ff-speak-web-1","ff-speak-web-2", sans-serif;
	font-size: 25px;
	line-height: 40px;
}

.hidden {
    display: none;
}
.spinner {
  position: absolute;
  width: 30px;
  background:none;
  display: none;
}
.loading .spinner{
  display: block;
  background: url("graphics/spinner.gif") center no-repeat;
}

#night-table {
	background: url("graphics/night-table.png") center bottom no-repeat, url("graphics/bottom-shadow.png") center bottom repeat-x;
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}

#table-stuff {
	position: absolute;
	bottom: 67px;
	width: 100%;
	z-index: -1;
}
	#table-stuff .inner {
		margin: 0 auto;
		width: 964px;
		position: relative;
	}

#picture-frame {
	position: absolute;
	left: 400px;
	bottom: 0;
	width: 104px;
	height: 104px;
	background: url("graphics/picture-frame-background.png") no-repeat;
}
	#picture-frame > img {
		margin: 12px;
	}

#lamp {
	position: absolute;
	right: 40px;
	bottom: 0;
	width: 221px;
	height: 461px;
	overflow: visible;
	background: url("graphics/lamp-off.png") no-repeat;
}
	#lamp.on {
		background-image: url("graphics/lamp-on.png");
	}

#light {
	position: absolute;
	z-index: -2;
	height: 100%;
	width: 100%;
	bottom: 0;
	background: center bottom no-repeat;
}
	#light.on {
		background-image: url("graphics/light.png");
	}

#container {
	padding: 50px 20px;
}

.box {
	margin: 0 auto;
	min-height: 250px;
	border: solid transparent;
	border-width: 10px 0;
	border-radius: 10px;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	border-shadow: 5px 5px 5px black;
}
.box.narrow {
	width: 430px;
	background:
		url("graphics/box-narrow-gradient.png") no-repeat padding-box,
		url("graphics/box-narrow-tile.png") repeat-y padding-box,
		url("graphics/box-narrow-top.png") no-repeat top border-box,
		url("graphics/box-narrow-bottom.png") no-repeat bottom border-box;
}
.box.normal {
	width: 920px;
	background: 
		url("graphics/box-normal-gradient.png") no-repeat padding-box,
		url("graphics/box-normal-tile.png") repeat-y padding-box,
		url("graphics/box-normal-top.png") no-repeat top border-box,
		url("graphics/box-normal-bottom.png") no-repeat bottom border-box;
}
	.box .inner {
		padding: 0 40px;
	}

.big {
	font-size: 1.8em;
}

h2 {
	font-size: 30px;
	margin: 50px 0 0;
}

h3 {
	font-size: 20px;
	color: rgb(100, 100, 100);
	margin-bottom: 0;
}

h2, h3, p {
	text-shadow: 0 0 2px rgba(255, 255, 255, 1);
	margin-top: 0;
	margin-bottom: 10px;
}

#person-form .person-field input {
	width: 330px;
}

#person-form .button-row {
	text-align: right;
}

#place-form .choices.numbers > label, #alarm-form .choices.numbers > label {
	display: inline-block;
	width: 60px;
	text-align: center;
	margin-bottom: 10px;
}

#place-form .button-row {
	text-align: right;
}

#alarm-existing:not(:empty) {
	border: 1px solid rgb(200, 200, 200);
	border-width: 1px 0;
}
	#alarm-existing p {
		position: relative;
		overflow: hidden;
	}
		#alarm-existing p .time {
			position: absolute;
			left: 0;
			top: -11px;
		}
		#alarm-existing p .remaining {
			position: absolute;
			left: 0;
			bottom: -11px;
			font-size: 0.7em;
		}
		#alarm-existing p .remove {
			float: right;
			color: rgb(0, 0, 0);
		}
		#alarm-existing p .remove:hover {
			color: rgb(70, 70, 70);
		}

#alarm-form {
	
}
	#alarm-form .remaining {
		font-size: 0.7em;
		margin-left: 10px;
	}
	#alarm-form .button-row .continue-buttons {
		float: right;
	}

#alarm-list ul {
	padding: 0;
	margin-top: 0;
	list-style: none;
}
	#alarm-list .place {
		font-weight: bold;
	}
	#alarm-list .actions {
		float: right;
	}

.message {
	width: 450px;
	margin: 0 auto;
	color: rgb(255, 255, 255);
	text-align: center;
}
	.message p {
	text-shadow: 0 0 2px rgb(0, 0, 0);
	}

input[type=radio] {
	display: none;
}
input[type=radio] + span {
	border: 3px solid transparent;
	border-radius: 10px;
	padding: 0 10px;
	text-decoration: underline;
	cursor: pointer;
}
input[type=radio]:not(:checked) + span:hover {
	border-color: #ccc;
}
input[type=radio]:checked + span {
	border-color: black;
}

input[type=text] {
	height: 40px;
	border: solid transparent;
	border-width: 0 5px;
	border-radius: 3px;
	background:
		url("graphics/textfield-tile.png") repeat-x padding-box,
		url("graphics/textfield-left.png") no-repeat left border-box,
		url("graphics/textfield-right.png") no-repeat right border-box;
	font: inherit;
	padding: 0 5px;
	line-height: 25px;
}
input[type=text]:focus {
	outline: none;
	background:
		url("graphics/textfield-active-tile.png") repeat-x padding-box,
		url("graphics/textfield-active-left.png") no-repeat left border-box,
		url("graphics/textfield-active-right.png") no-repeat right border-box;
}

select {
	height: 40px;
	-webkit-appearance: none;
	outline: none;
	border: solid transparent;
	border-width: 0 21px 0 5px;
	border-radius: 3px;
	background:
		url("graphics/dropdown-tile.png") repeat-x padding-box,
		url("graphics/dropdown-left.png") no-repeat left border-box,
		url("graphics/dropdown-right.png") no-repeat right border-box;
	font: inherit;
	padding: 0 8px 0 6px;
}

button, input[type=button], input[type=submit] {
	height: 38px;
	border: solid transparent;
	border-width: 0 3px;
	border-radius: 3px;
	background:
		url("graphics/button-tile.png") repeat-x padding-box,
		url("graphics/button-left.png") no-repeat left border-box,
		url("graphics/button-right.png") no-repeat right border-box;
	font: inherit;
	padding: 0 10px;
	text-shadow: 0 0 2px rgba(255, 255, 255, 0.6);
	outline: none;
}
button:active, input[type=button]:active, input[type=submit]:active {
	background:
		url("graphics/button-down-tile.png") repeat-x padding-box,
		url("graphics/button-down-left.png") no-repeat left border-box,
		url("graphics/button-down-right.png") no-repeat right border-box;
}